@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.landingPage {
  display: flex;
  background-image: url('https://assets.splitwise.com/assets/core/facets.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 98.76vw;
  height: 100vh;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  /* border: 1px solid; */
}

.leftHead {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  margin-left: 6rem;
  /* text-align: left; */
  /* font-family: Montserrat; */
  /* margin-bottom: 1.5rem; */
}

.headText {
  width: 35vw;
  font-size: 3rem;
  margin-left: 2.4rem;
  line-height: 1.25;
  font-weight: 700;
  color: #373B3F;
  font-family: Montserrat;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.leftParaText {
  text-align: left;
  margin-left: 4.3rem;
  margin-bottom: 1.5rem;
  width: 30vw;
}

.paraText {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.35rem;
  width: 40vw;
}

.svgContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 25vw;
  margin: 1rem 0 1rem 0;
  gap: 1rem;
}

.rightContainer {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 50vw;
  /* border: 1px solid; */
}

.svgImgPlane {
  width: 3.5vw;
  transition: fill 1.5s ease;
}

.svgImgHome {
  width: 3vw;
  transition: fill 1.5s ease;
}

.svgImgHeart {
  width: 3.5vw;
  transition: fill 1.5s ease;
}

.svgImgAsterisk {
  width: 3.5vw;
  transition: fill 1.5s ease;
}

.rightSvg {
  width: 40vw;
  /* height: 30vh; */
  margin-right: 2rem;
  margin-bottom: 6rem;
  transition: fill 1.5s ease;
}

.btnSignUp {
  width: 25.2vw;
}

.btn {
  width: 14vw;
  height: 8vh;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 rgba(55,59,63,0.5);
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: Montserrat;
  transition: background 1.5s ease;
}

.randomText {
  transition: color 1.5s ease;
  font-family: Montserrat;
}

.leftFootContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 25.2vw;
}

.leftFoot {
  font-size: 0.9rem;
  font-family: Lato;
}