@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');


.middleContainer {
    display: flex;
    
  }
  
  .cardContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .grey {
    background-color: rgba(15, 15, 15, 0.8);
    opacity: 1;
  }
  
  .cards {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .boxes {
    background-image: url('https://img.freepik.com/free-vector/flat-polygonal-background_23-2148919446.jpg');
    width: 100%;
  }
  
  .green {
    background-color: rgba(4, 172, 135, 0.7);
    opacity: 1;
  }
  
  .orange {
    background-color: rgb(240, 69, 7);
    opacity: 0.75;
  }
  
  .cardBody {
    color: white;
    text-align: center;
    margin:1rem;
  }
  
  .cardText {
    width: 19rem;
    font-size: 1.2rem;
    font-family: Lato;
  }
  
  .cardTexts {
    width: 25rem;
    font-size: 1.2rem;
    font-family: Lato;
  }
  
  .cardImages {
    width: 50%;
    height: 50%;
    border: none;
  }
  
  .imgWrapper {
    display: flex;
    justify-content: center;
    border: none;
  }
  
  .box {
    display: flex;
    background-image: url('https://img.freepik.com/free-vector/flat-polygonal-background_23-2148919446.jpg');
    width: 100%;
  }
  
  .cardImage {
    width: 80%;
    height: 75%;
  }
  
  .imgWrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .purple {
    background-color: rgba(110, 41, 213, 0.8);
    opacity: 1;
  }

  .cardTitle {
    font-family: Montserrat;
  }
  
  .signUpBtn {
    padding: 0.8rem 2.5rem;
    border: 1px solid white; 
    border-radius: 5px;
    background-color: #6C4E9E;
    color: white;
    cursor: pointer;
    font-size: larger;
    
  }

  